<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.uv.upgrade</string>
  <key>ProgramArguments</key>
  <array>
      <string>/usr/local/bin/brew</string>
      <string>upgrade</string>
      <string>uv</string>
  </array>
  <key>StartCalendarInterval</key>
  <dict>
      <key>Hour</key>
      <integer>10</integer>
      <key>Minute</key>
      <integer>30</integer>
  </dict>
  <key>StandardOutPath</key>
  <string>/tmp/com.uv.upgrade.out</string>
  <key>StandardErrorPath</key>
  <string>/tmp/com.uv.upgrade.err</string>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <dict>
      <key>SuccessfulExit</key>
      <false/>
  </dict>
</dict>
</plist>

